@element_height: 20px;
@background_color: #696969;
@element_color: white;
@transition_duration: 0.2s;


//reset all styles
#wp-ui,
#wp-ui * {
  border-radius: 0;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#wp-ui div {
  background-color: transparent;
}

#wp-ui {
  background-color: @background_color;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  padding-bottom: 0;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border: 0;
}

#collapsible-toggle {
  display: none !important;
}

.wp-pixeled,
#wp-ui,
#wp-config button,
#wp-config input,
#label-toggle{
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.75);
}

#wp-config {
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
  transition: max-height @transition_duration ease-in-out, max-width @transition_duration ease-in-out;
}

#wp-ui button {
  height: @element_height;
  flex: 1;
  background-color: @element_color;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#wp-ui button:hover,
#label-toggle:hover {
  background-color: #dddddd;
}

#label-toggle:active,
#wp-config button:active,
#wp-config input:focus {
  box-shadow: 0px 0px 0px;
  transform: translate(3px, 3px);
  outline: none;
}

#wp-config input {
  display: block;
  height: @element_height;
  background-color: @element_color;
  border: 0;
  padding-left: 5px;
  margin-bottom: 5px;
}

#wp-config label {
  background-color: transparent;
  margin-right: 1px;
  font-size: 10px;
  color: @element_color;
  float: right;
}

#wp-form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#label-toggle {
  float: right;
  margin-bottom: 5px;
  padding: 2px;
  display: block;
  height: @element_height;
  background: white;
  color: black;
  cursor: pointer;
}

.toggle:checked + #label-toggle + #wp-config {
  max-width: 354px;
  max-height: 143px;
}